body {
    font-size: 15pt;
    background: linear-gradient(to right, #bb0000, #710000, #4a1010);
}

h4 {
  text-align: center;
  color: #B40000;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

h1 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


h3 {
  text-align: center;
  color: #FFFFFF;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}

p {
  text-align: center;
  color: #FFFFFF;
  font-family: "Afacad Flux",
  sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

button {
 /*  background: linear-gradient(to right, #000000, #710000, #bb0000); */
 background-color: #000000;
  border: none;
  color: #FFFFFF;
  padding: 20px 40px;
  font-family: "Afacad Flux", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: bold;
  font-variation-settings:
    "slnt" 0;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  font-size: 20px;
}

img {
  align-items: center;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.games {
  background: linear-gradient(to right, #bb0000, #710000, #000000);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container button {
    margin: 20px 0; 
    width: 200px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info button {
  margin: 10px 0;
  width: 50px;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info button {
  margin: 10px 0;
  width: 300px;
}

/* Customização Div */

.info {
  border-radius: 20px;
  background-color: #000000;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
  margin-top: 40px;
}
